# data
data/local/*
data/processed/*.parquet
train_trips_bins*.json

# spark
spark/dv_project/src/main/resources/*
spark/dv_project/target/scala-2.11/classes/*

# python
**/__pycache__/*

# npm
**/node_modules/*
package-lock.json
package.json
tsconfig.json