# data
data/local/*
data/processed/*.parquet
data/processed/train_trips_bins*.json
map_example_2/data/train_trips_bins*.json

# spark
spark/dv_project/src/main/resources/*
spark/dv_project/target/scala-2.11/classes/*

# python
**/__pycache__/*