.banner {
  background-color: #2d327d;
  position: relative;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  overflow: hidden;
  font-size: 0;
}

.banner svg {
  height: 100%; /* Set the height of the SVG to 100% to fill the container */
  width: auto; /* Set the width to auto to maintain the aspect ratio of the SVG */
  position: absolute; /* Position the SVG absolutely inside the container */
  right: -100%; /* Start the SVGs off the right edge of the screen */
  animation: banner-move 3s linear infinite; /* Use the banner-move animation to move the SVGs */
  letter-spacing: -1em; /* Remove any gaps between the SVGs */
}

@keyframes banner-move {
  0% {
    right: -100%; /* Start the SVGs off the right edge of the screen */
  }
  100% {
    right: 100%; /* Move the SVGs to the left edge of the screen */
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* 
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white */ /*#242424*/;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0;
  min-height: 100vh;
}

/* CSS for navigation bar */
.navbar {
  background-color: #000000c7;
  /* add blur */
  backdrop-filter: blur(10px);
  overflow: hidden;
  position: fixed; /* Maybe later */
  top: 0;
  width:100%;
  z-index: 9999;
  transition: background-color 0.5s ease; /* add a transition for the background-color property */
  font-size: 2vh;
}

.navbar-scroll {
  background-color: #eb0000c7; /* new background color after scrolling */
    /* add blur */
    backdrop-filter: blur(10px);
}

.navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #A20013;
  color: black;
}

#welcome {
  width: 100%;
  height: 100%;
  background-color: black;
  top: 0;
  min-height: 100vh;
  font-family: "Segoe UI",Roboto;
  font-size: 10vh;
  
  color: aliceblue;
  text-align: center;
  /* Align children vertically */;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#title {
  font-weight: 600;
  background: -webkit-linear-gradient(0deg,#be22ff 20%,#ff279c 50%,#ff981f 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* CSS for footer */
footer {
  background-color: #000000;
  color: white;
  font-size: 1rem;
  line-height: 2.5;
  text-align: center;
  width: 100%;
  height: 50vh;
  margin-top: auto;
  /* Align children vertically */;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.github-link {
  color: white;
}

.github-link:hover {
  color: #EB0000;
  transition: all 0.2s ease-in-out;
}

.container {
  display: flex;/* add display property with a value of flex */
  flex-direction: column;
  align-items: center; /* add align-items property with a value of center */
  justify-content: center;
  min-height: 100vh;
  position: relative;
}

#circle_packing {
  border: 1px solid black;
  width: 800px; /* TODO: remove this */
  height: 800px; /* TODO: remove this */
  overflow: hidden;
}

.text-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 85%;
}

.text-container-reverse {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 85%;
}

@media screen and (max-width: 1900px) {
  .text-container, .text-container-reverse {
    flex-direction: column;
    margin-top: 10vh;
  }
}

.description {
  /* Make the text bigger */
  font-size: 2vh;
  /* Justify */
  text-align: justify;
  padding: 5vh;
  border: black 1px solid;
  border-radius: 6px;
  background-color: #F6F6F6;
  margin-left: 15px;
  margin-right: 15px;
}

#bar-container-plot {
  /* Center element horizontally */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* HIERARCHY */
#hierarchy-container-plot {
  display: flex; /* add display property with a value of flex */
  flex-direction: row; /* add flex-direction property with a value of row */
  align-items: center; /* add align-items property with a value of center */
  width: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

#hierarchy {
  border: 1px solid black;
  /* border-radius: 50%; */
  overflow: hidden;
}

#select_cantons {
  top: 10px;
  right: 10px;
  float: right;
  /* Hide scrollbar */
  overflow: hidden;
  border-width: 0;
  
  display: block;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 5px;
}

#select_cantons > div {
  font-family: "Segoe UI",Roboto;
  font-size: 1.5vh;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  outline: none;
  border-radius: 15%;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 600;
}

#select_cantons > div:hover {
  background-color: #f1f1f1;
}

.custom-option {
  display: block;
  padding: 5px;
  cursor: pointer;
}

/* CIRCLE PACKING */
#circle-packing-plot {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* CSS */
button {
  appearance: button;
  backface-visibility: hidden;
  background-color: #00A59B;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 5px;
  margin-right: 5px;

  /* Add linear transition of 2 seconds */
  transition: background-color 2s ease;
}

button:disabled {
  cursor: default;
}

button:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

#bottom-description {
  margin: 30px;
}