.banner {
  background-color: #2d327d;
  position: relative;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  overflow: hidden;
  font-size: 0;
}

.banner svg {
  height: 100%; /* Set the height of the SVG to 100% to fill the container */
  width: auto; /* Set the width to auto to maintain the aspect ratio of the SVG */
  position: absolute; /* Position the SVG absolutely inside the container */
  right: -100%; /* Start the SVGs off the right edge of the screen */
  animation: banner-move 3s linear infinite; /* Use the banner-move animation to move the SVGs */
  letter-spacing: -1em; /* Remove any gaps between the SVGs */
}

@keyframes banner-move {
  0% {
    right: -100%; /* Start the SVGs off the right edge of the screen */
  }
  100% {
    right: 100%; /* Move the SVGs to the left edge of the screen */
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* 
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white */ /*#242424*/;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0;
  min-height: 100vh;
}

/* CSS for navigation bar */
.navbar {
  background-color: black;
  overflow: hidden;
  position: fixed; /* Maybe later */
  top: 0;
  width:100%;
  z-index: 9999;
  transition: background-color 0.5s ease; /* add a transition for the background-color property */
}

.navbar-scroll {
  background-color: #EB0000; /* new background color after scrolling */
}

.navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #A20013;
  color: black;
}

#welcome {
  width: 100%;
  height: 100%;
  background-color: black;
  position: relative;
  top: 0;
  min-height: 100vh;
  font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 10vh;
  
  color: aliceblue;
  text-align: center;
  /* Align children vertically */;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#title {
  background: -webkit-linear-gradient(0deg,#be22ff 20%,#ff279c 50%,#ff981f 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* CSS for footer */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  width: 100%;
  height: 20vh;
  margin-top: auto;
  /* Align children vertically */;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
}

#hierarchy {
  border: 1px solid black;
  border-radius: 50%;
  overflow: hidden;
}

#circle_packing {
  border: 1px solid black;
  width: 800px; /* TODO: remove this */
  height: 800px; /* TODO: remove this */
  overflow: hidden;
}

#select_cantons {
  top: 10px;
  right: 10px;
  z-index: 9999;
}