@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;600;700;800&display=swap');

:root {
    --default-font-family: 'Nunito', sans-serif;
    --off-white: #FAF4DD;
    --white: #FFFFFF;
    --pink: #FB9E82;
    --green: #2E5D52;
    --dark-green: #0F1D18;
    --black: #000000;
    --small-font-size: 0.8rem;
    --default-font-size: 1rem;
    --medium-font-size: 1.2rem;
    --large-font-size: 3.0rem;
  }

.selected-row {
    background-color: #ff0000;
}

.hovered {
    background-color: #7300ff;
}

.clicked {
    background-color: purple;
}
  
.highlighted {
    fill: orange;
}

/* Make cells have a border */
td {
    border: 1px solid black;
    /* Center the text horizontally */
    text-align: center;
    /* Center the text vertically */
    vertical-align: middle;

    /* Make the text thicker */
    font-weight: 600;
}

/* Make the borders of the cells overlap */
table {
    border-collapse: collapse;

    /* Set the default font family */
    font-family: var(--default-font-family);
}

#pagination-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  #pagination-container > button {
    background-color: var(--green);
    color: var(--off-white);
    font-size: var(--medium-font-size);
    padding: 15px;
    margin: 0 0.1%;
    border-radius: 10px;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    border-color: var(--dark-green);
    cursor: pointer;
  }
  
  #pagination-container > button:hover {
    background-color: var(--dark-green);
    transition: 0.2s;
  }
  
  #pagination-container > button:active {
    background-color: var(--dark-green);
    color: var(--off-white);
    font-size: var(--medium-font-size);
    padding: 15px;
    margin: 0 0.1%;
  }
  
  #pagination-container > button.pushed {
    background-color: var(--dark-green);
    color: var(--off-white);
    font-size: var(--medium-font-size);
    border: solid transparent;
    border-width: 0;
    padding: 15px;
    margin: 0 0.1%;
  }
  