.selected-row {
    background-color: #ff0000;
}

.hovered {
    background-color: #7300ff;
}

.sorted-ascending {
    background-color: #00ff00;
}

.sorted-descending {
    background-color: #ff00ff;
}


.clicked {
    background-color: purple;
}
  
.highlighted {
    fill: orange;
}

/* Make cells have a border */
td {
    border: 1px solid black;
}

/* Make the borders of the cells overlap */
table {
    border-collapse: collapse;
}