html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
}

#container {
  width: 100%;
  height: 100%;
  background-color:#000000;
}

#select {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 9999;
}