html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  display: flex;
}

#container {
  width: 100%;
  height: 100%;
  background: #000;
}

#time {
  position: absolute;
  top: -5px;
  left: 120px;
  z-index: 9999;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#select_heatmap {
  left: 10px;
  top: 10px;
  position: absolute;
  z-index: 9999;
}

#slider_time {
  right: 10px;
  top: 10px;
  position: absolute;
  z-index: 9999;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}